.search-prop {
    position: relative;
    margin-bottom: 25px;
}
.search-prop-avatar {
    border: 1px solid white;
    border-radius: 30px;
    overflow: hidden;
    position: absolute;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.search-prop .search-prop-avatar {
    right: 3px;
    top: 2px;
    height: 60px;
    width: 60px;
}
.search-prop .carousel.slide .gallery-item {
    background-color: transparent;
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}
.search-prop .carousel.slide, .search-prop .carousel.slide .gallery-item {
    height: 300px;
}
.search-prop .search-prop-price {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 20px;
    padding: 4px 22px;
    position: absolute;
    bottom: 87px;
}
.search-prop .carousel.slide .gallery-item img {
    display: none;
}
.search-prop .carousel.slide .gallery-item.no-gallery {
    background-color: #1d8d8f;
    background-position: 50% 45%;
    background-size: contain;
}
.search-prop .search-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 18px;
    margin: 10px 0px;
}
/* Google Map styles */
.sebm-google-map-info-window-content .search-prop .carousel.slide,
.sebm-google-map-info-window-content .search-prop .carousel.slide .gallery-item {
    height: 230px;
    width: 230px;
}
.sebm-google-map-info-window-content .search-prop {
    margin-bottom: 0px;
}
.sebm-google-map-info-window-content .search-prop p {
    margin-bottom: 0px;
}
.sebm-google-map-info-window-content .carousel-indicators {
    bottom: -12px;
}
/* Related properties */
.property-relatedoptions .search-prop .carousel.slide,
.property-relatedoptions .search-prop .carousel.slide .gallery-item {
    height: 200px;
}
.property-relatedoptions .property-photo .no-picture {
    background-size: contain;
}
.property-relatedoptions .search-prop-price {
    background-color: rgba(61, 75, 76, 0.9);
    color: #DFFBF7;
    font-size: 18px;
    padding: 2px 8px;
    position: absolute;
    top: 144px;
    height: 29px;
}
.property-relatedoptions .search-prop-price sup {
    top: -0.2em;
}
.property-relatedoptions .search-title {
    font-size: 15px;
    margin-bottom: 0px;
    padding-left: 8px;
    padding-right: 60px;
    color: #6E6F71;
}
.property-relatedoptions .search-prop p {
    padding-left: 8px;
    padding-right: 60px;
    color: #A6AAAB;
}
.property-relatedoptions .search-prop .search-prop-avatar {
    right: 10px;
    top: 177px;
    height: 45px;
    width: 45px;
    border: 1px solid #D6F5EF;
    border-radius: 30px;
    overflow: hidden;
    position: absolute;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.property-relatedoptions .col-sm-4 {
    padding-right: 0px;
}
.property-relatedoptions .col-sm-4 ~ .col-sm-4 .carousel {
    box-shadow: -16px 0px 0px #D6F5EF;
}