<div class="col-sm-6">
  <div class="search-prop">
    <ngb-carousel>
      <template ngbSlide>
        <a class="item gallery-item active" href="#" style="background-image:url(http://localhost:4200/assets/images/casa1.jpg)">
          <img src="http://localhost:4200/assets/images/casa1.jpg" alt="photo">
        </a>
      </template>
      <template ngbSlide>
        <a class="item gallery-item active" href="#" style="background-image:url(http://localhost:4200/assets/images/casa2.jpg)">
          <img src="http://localhost:4200/assets/images/casa2.jpg" alt="photo">
        </a>
      </template>
      <template ngbSlide>
        <a class="item gallery-item active" href="#" style="background-image:url(http://localhost:4200/assets/images/casa3.jpg)">
          <img src="http://localhost:4200/assets/images/casa3.jpg" alt="photo">
        </a>
      </template>
    </ngb-carousel>
    <div class="search-prop-price"><sup>$ </sup>1000<sup> ARS</sup></div>
    <a class="search-prop-avatar" href="http://localhost/renquila/u/18/GuillermoAiquel" style="background-image: url(http://localhost:4200/assets/images/avatar_03.png)">
      <!-- used only for SEO bots -->
      <img src="http://localhost:4200/assets/images/avatar_03.png" alt="">
    </a>
    <a class="" href="http://localhost/renquila/p/1004/casa-centrica">
      <h4 class="search-title">Casa centrica</h4>
      <p>Casa</p>
    </a>
  </div>
</div>