<div class="container-fluid">
  <div *ngIf="property.images !== undefinde && property.images.length > 0" class="row property-avatar" [ngStyle]="{'background-image': 'url(' + property.images[0] + ')'}">
      <img [src]="property.images[0]" alt="">
  </div>
  <div class="row property-header">
    <div class="container">
      <div class="col-sm-8">
        <div class="property-owner col-sm-2">
          <a class="property-owner-avatar" href="#" [ngStyle]="{'background-image': 'url(' + property.user.picture + ')'}">
            <!-- used only for SEO bots -->
            <img [src]="property.user.picture" alt="">
          </a>
          <p>{{property.user.firstname}}</p>
        </div>
        <div class="col-sm-10">
            <div class="property-title">
                <h1>{{property.title}}</h1>
                <p>{{property.city}}, {{property.state}}</p>
            </div>
            <div class="property-icons clearfix">
                <div class="col-sm-3 property-icon text-truncate">
                    <div class="row icon">
                        <span class="fa fa-home fa-3x" aria-hidden="true"></span>
                        <span class="icon-text">{{property.acommodationType}}</span>
                    </div>
                </div>
                <div class="col-sm-3 property-icon text-truncate">
                    <div class="row icon">
                        <span class="fa fa-bed fa-3x" aria-hidden="true"></span>
                        <span class="icon-text">{{property.bedRooms}} {{property.bedRooms === 1 ? 'Dormitorio' : 'Dormitorios'}} </span>
                    </div>
                </div>
                <div class="col-sm-3 property-icon text-truncate">
                    <div class="row icon">
                        <span class="fa fa-bath fa-3x" aria-hidden="true"></span>
                        <span class="icon-text">{{property.bathRooms}} {{property.bathRooms === 1 ? 'Baño' : 'Baños'}}</span>
                    </div>
                </div>
                <div class="col-sm-3 property-icon text-truncate">
                    <div *ngIf="property.realState" class="row icon">
                        <span class="fa fa-building fa-3x" aria-hidden="true"></span>
                        <span class="icon-text">Inmobiliaria</span>
                    </div>
                    <div *ngIf="!property.realState" class="row icon">
                        <span class="fa fa-building fa-3x" aria-hidden="true"></span>
                        <span class="icon-text">Dueño</span>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="property-contact clearfix" [ngClass]="{'no-picture':property.images.length == 0}">
          <div class="row">
            <div class="col-sm-12 property-price">
              <span class="price"><sup class="h5">$ </sup>{{property.price}} <sup class="h5">{{property.currency}}</sup></span>
              <span class="lapse-time">por mes</span>
            </div>
          </div>
          <div class="row property-contact-info">
            <div class="col-sm-12 phone">
              <div>Contacto: <a *ngIf="!showNumber" class="btn phone-number" (click)="showNumber = true">Ver info</a><span *ngIf="showNumber">{{property.user.phone}}</span></div>
            </div>
            <div class="col-sm-12 text-input">
              <textarea class="form-control" rows="3" cols="25"></textarea>
            </div>
            <div class="col-sm-12 button">
              <button type="button" class="btn btn-default btn-lg btn-block" disabled="">Envia un mensaje</button>
            </div>
            <div class="col-sm-12 share">
              <span>Compartir:</span>
              <a href="https://plus.google.com/share?url=http://localhost/renquila/p/1001/casa-centrica-con-pileta" target="_blank">
                <span class="fa fa-google-plus"></span>
              </a>
              <a href="https://twitter.com/intent/tweet?source=tweetbutton&amp;text=Me+Gusta+%22Casa+centrica+con+pileta+en+Villa+Carlos+Paz+%24+4800+-++Renquila%22&amp;url=http://localhost/renquila/p/1001/casa-centrica-con-pileta&amp;related=renquila" target="_blank">
                <span class="fa fa-twitter"></span>
              </a>
              <a href="http://www.facebook.com/sharer.php?u=http://localhost/renquila/p/1001/casa-centrica-con-pileta" target="_blank">
                <span class="fa fa-facebook"></span>
              </a>
            </div>
            <div class="col-sm-12 message-status"><p></p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row property-info">
    <div class="container">
        <div class="col-sm-8">
            <div class="property-info-data">
                <h3>Información sobre este anuncio</h3>
                <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac mattis nisl. Sed ut dignissim orci, eget consequat est. Sed in dapibus lorem. Nam odio purus, fringilla vel dignissim sit amet, vehicula vel ligula. Suspendisse quis elit vulputate, tristique sapien eu, finibus dolor. Pellentesque mattis diam vitae euismod vulputate. In nec semper ligula. Duis est justo, tempor nec nulla at, interdum mollis velit. Duis velit metus, pulvinar et leo vel, finibus vulputate sem. Donec vitae nunc fringilla, tincidunt arcu id, aliquet diam. Nulla vitae hendrerit sem. Phasellus at sodales tellus. Fusce pharetra facilisis justo, tincidunt blandit tortor ornare eu. Pellentesque quis mi purus. Vivamus eu urna sit amet diam sagittis sollicitudin sed eget dui.  
                </div>
            </div>
            <div class="property-info-title clearfix">
                <p><b>Detalles de la propiedad</b></p>
            </div>
            <div class="property-info-attributes clearfix">
                <div class="col-sm-2">
                    El Lugar
                </div>
                <div class="col-sm-5">
                    Tipo de propiedad: <b>Casa</b><br>
                    Habitaciones: <b>2</b><br>
                    Baños: <b>2</b><br>
                    Cocina: <b>No</b><br>
                    Patio: <b>No</b><br>
                </div>
                <div class="col-sm-5">
                    Garage: <b>No</b><br>
                    Pileta: <b>No</b><br>
                    Parrilla: <b>No</b><br>
                    Quincho: <b>No</b><br>
                    Muebles: <b>No</b><br>
                </div>
            </div>
            <div class="property-info-attributes clearfix">
                <div class="col-sm-2">
                    Servicios
                </div>
                <div class="col-sm-5">
                    Aire Acondicionado: <b>No</b><br>
                    Calefacción: <b>No</b><br>
                    Alarma: <b>No</b>
                </div>
                <div class="col-sm-5">
                    Barrio Privado: <b>No</b><br>
                    Garantía: <b>No</b><br>
                    Inmobiliaria: <b>No</b>
                </div>
            </div>
            <div class="property-info-attributes clearfix">
                <div class="col-sm-2">
                    Normas                    </div>
                <div class="col-sm-10">
                    No parties, no smoking
                </div>
            </div>
            <div class="property-info-gallery clearfix">
                <rq-image-gallery [images]="property.images"></rq-image-gallery>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
  </div>
  <div class="row property-map">
      <sebm-google-map 
            [latitude]="property.lat" 
            [longitude]="property.lng" 
            [zoom]="zoom" 
            [scrollwheel]="fal"
            [mapDraggable]="fal"
            [disableDoubleClickZoom]="tru"
            [disableDefaultUI]="tru"
            [zoomControl]="fal"
            [streetViewControl]="fal"
            >
        <sebm-google-map-marker 
              [latitude]="property.lat" 
              [longitude]="property.lng" 
              [iconUrl]="mapIcon" >
        </sebm-google-map-marker>
      </sebm-google-map>
  </div>
  <div class="row property-relatedoptions" *ngIf="propertiesRelated && propertiesRelated.length > 0">
      <div class="container">
        <div class="row section-title">
          <div class="col-sm-1"></div>
          <div class="col-sm-10">Anuncios similares</div>
          <div class="col-sm-1"></div>
        </div>
        <div class="row section-properties">
          <div class="col-sm-1"></div>
          <div class="col-sm-10">
            <div class="col-sm-4" *ngFor="let prop of propertiesRelated" ><rq-property-item [data]="prop"></rq-property-item></div>
          </div>
          <div class="col-sm-1"></div>
        </div>
      </div>
  </div>
</div>