<template [ngIf]="images.length === 1">
  <div class="row">
    <div class="gallery-item col-sm-12" [ngStyle]="{'background-image': 'url(' + images[0] + ')'}" (click)="open(content, '0')">
    </div>
  </div>
</template>
<template [ngIf]="images.length === 2">
  <div class="row">
    <div class="gallery-item col-sm-6" [ngStyle]="{'background-image': 'url(' + images[0] + ')'}" (click)="open(content, '0')">
    </div>
    <div class="gallery-item col-sm-6" [ngStyle]="{'background-image': 'url(' + images[1] + ')'}" (click)="open(content, '1')">
    </div>
  </div>
</template>
<template [ngIf]="images.length === 3">
  <div class="row">
    <div class="gallery-item col-sm-4" [ngStyle]="{'background-image': 'url(' + images[0] + ')'}" (click)="open(content, '0')">
    </div>
    <div class="gallery-item col-sm-4" [ngStyle]="{'background-image': 'url(' + images[1] + ')'}" (click)="open(content, '1')">
    </div>
    <div class="gallery-item col-sm-4" [ngStyle]="{'background-image': 'url(' + images[2] + ')'}" (click)="open(content, '2')">
    </div>
  </div>
</template>
<template [ngIf]="images.length === 4">
  <div class="row">
    <div class="gallery-item col-sm-6" [ngStyle]="{'background-image': 'url(' + images[0] + ')'}" (click)="open(content, '0')">
    </div>
    <div class="gallery-item col-sm-6" [ngStyle]="{'background-image': 'url(' + images[1] + ')'}" (click)="open(content, '1')">
    </div>
  </div>
  <div class="row">
    <div class="gallery-item col-sm-6" [ngStyle]="{'background-image': 'url(' + images[2] + ')'}" (click)="open(content, '2')">
    </div>
    <div class="gallery-item col-sm-6" [ngStyle]="{'background-image': 'url(' + images[3] + ')'}" (click)="open(content, '3')">
    </div>
  </div>
</template>
<template [ngIf]="images.length >= 5">
  <div class="row">
    <div class="gallery-item col-sm-6" [ngStyle]="{'background-image': 'url(' + images[0] + ')'}" (click)="open(content, '0')">
    </div>
    <div class="gallery-item col-sm-6" [ngStyle]="{'background-image': 'url(' + images[1] + ')'}" (click)="open(content, '1')">
    </div>
  </div>
  <div class="row">
    <div class="gallery-item col-sm-4" [ngStyle]="{'background-image': 'url(' + images[2] + ')'}" (click)="open(content, '2')">
    </div>
    <div class="gallery-item col-sm-4" [ngStyle]="{'background-image': 'url(' + images[3] + ')'}" (click)="open(content, '3')">
    </div>
    <div  class="gallery-item col-sm-4" [ngStyle]="{'background-image': 'url(' + images[4] + ')'}" (click)="open(content, '4')">
      <a *ngIf="images.length > 5" class="more-pictures">{{images.length - 5}} +</a>
    </div>
  </div>
</template>
<template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    <ngb-carousel [activeId]="activeSlide">
      <template ngbSlide *ngFor="let img of images; let i = index;" id="{{i}}">
        <a class="item gallery-item" [ngStyle]="{'background-image': 'url(' + img + ')', 'height': '500px', 'display':'block'}">
          <img [src]="img" alt="photo" style="display:none">
        </a>
      </template>
    </ngb-carousel>
  </div>
</template>
<template ngbModalContainer></template>