<div class="sidebar">
        <nav class="sidebar-nav open">
            <ul class="nav">
                <li class="nav-title text-xs-center">
                    <span>Dashboard</span>
                </li>
                <li class="nav-item open">
                    <a class="nav-link active" href="index.html"><i class="icon-speedometer"></i> Dashboard</a>
                </li>

                <li class="divider"></li>
                <li class="nav-title text-xs-center">
                    <span>Administrador</span>
                </li>
                <li ngbDropdown class="nav-item nav-dropdown">
                    <a ngbDropdownToggle class="nav-link nav-dropdown-toggle no-icon" id="citiesDropdown" href="javascript:;"><i class="icon-puzzle"></i> Ciudades</a>
                    <ul class="nav-dropdown-items" aria-labelledby="citiesDropdown">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="icon-puzzle"></i> Listar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="icon-puzzle"></i> Agregar</a>
                        </li>
                    </ul>
                </li>
                <li ngbDropdown class="nav-item nav-dropdown">
                    <a ngbDropdownToggle class="nav-link nav-dropdown-toggle no-icon" id="usersDropdown" href="javascript:;"><i class="icon-note"></i> Usuarios</a>
                    <ul class="nav-dropdown-items" aria-labelledby="usersDropdown">
                        <li class="nav-item">
                            <a class="nav-link" href="forms-basic-forms.html"><i class="icon-note"></i> Listar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="forms-advanced-forms.html"><i class="icon-note"></i> Agregar</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="icon-star"></i> Todas las propiedades</a>
                </li>
                <li class="divider"></li>
                <li class="nav-title text-xs-center">
                    <span>Menu Principal</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="icon-star"></i> Mis Propiedades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="icon-star"></i> Nueva Propiedad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="icon-star"></i> Mensajes</a>
                </li>

            </ul>
        </nav>
    </div>