.navbar {background: #00a65a none repeat scroll 0 0; border: medium none; border-radius: 0; padding: 0px;}
.navbar .navbar-brand.logo {
    background: #00A65A none repeat scroll 0 0;
    margin: 0;
    padding: 2px 30px;    
    height: 50px;
    text-align: center;
    width: 230px;
}
.user-menu {margin: 6px 0 6px 0;}
.user-menu .dropdown {display: block;font-size: 16px;}
.user-menu .dropdown-toggle, .user-menu .dropdown-toggle:hover {color: #ffffff;text-decoration: none;}
.user-menu .dropdown-menu {right: 0px;left: inherit;}
.user-menu .user-image {width: 30px;height: 30px;border-radius: 50%;}