<nav class="navbar navbar-light bg-faded" id="header">
  <a class="navbar-brand logo" href="{{ BASE_URL }}"><img [src]="BASE_URL + '/assets/images/renquila-web.png'"></a>
  <div class="container-fluid" style="text-align:right;">
    <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler hidden-lg-up" type="button" aria-label="Toggle navigation" style="margin-top: 5px;"></button>
    <div [ngbCollapse]="isCollapsed" class="collapse navbar-toggleable-md">
      <form class="form-inline float-xs-left" style="margin: 6px 0px;">
        <input class="form-control" type="text" placeholder="Search">
      </form>
      <ul class="nav navbar-nav float-lg-right user-menu">
        <li class="nav-item dropdown">
          <img src="{{ userImage }}" class="user-image"/>
          <div ngbDropdown class="d-inline-block">
            <a class="nav-link dropdown-toggle" id="dropdownMenu1" ngbDropdownToggle>{{ userName }}</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <button class="dropdown-item">Admin</button>
              <button class="dropdown-item">Logout</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
