<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 footer-info">
                <div class="row footer-title">Empresa</div>
                <div class="row">&nbsp;</div>
                <div class="row">Acerca de</div>
                <div class="row">Empleo</div>
                <div class="row">Prensa</div>
                <div class="row">Blog</div>
                <div class="row">Ayuda</div>
                <div class="row">Políticas</div>
                <div class="row">Privacidad</div>
            </div>
            <div class="col-sm-4 footer-info">
                <div class="row footer-title">Descubre Renquila</div>
                <div class="row">&nbsp;</div>
                <div class="row">Confianza y Seguridad</div>
                <div class="row">Invita a tus amigos</div>
                <div class="row">Seleccion de Renquila</div>
                <div class="row">Aplicaciones para móviles</div>
                <div class="row">Mapa del sitio</div>
            </div>
            <div class="col-sm-4 footer-info">
                <div class="row footer-title">Comunidad</div>
                <div class="row">&nbsp;</div>
                <div class="row">Razones</div>
                <div class="row">Hospitalidad</div>
                <div class="row">Ser anfitrión</div>
                <div class="row">Seguridad del hogar</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 footer-social-title">
                Encontranos en            </div>
        </div>
        <div class="row share">
            <div class="col-sm-12">
                <a href="https://www.facebook.com/renquilacom" target="_blank">
                    <i class="fa fa-facebook fa-4x"></i>
                </a>
                <a href="https://twitter.com/renquila" target="_blank">
                    <i class="fa fa-twitter fa-4x"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <p>©Renquila 2015 - Todos los derechos reservados</p>
            </div>
        </div>
    </div>
</footer>