<nav class="navbar navbar-light bg-faded navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Renquila</a>
      <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler hidden-lg-up float-xs-right" type="button" aria-label="Toggle navigation"></button>
    </div>
    <div [ngbCollapse]="isCollapsed" class="collapse navbar-toggleable-md">
      <ul class="nav navbar-nav float-lg-right">
        <rq-header-item *ngFor="let item of items"></rq-header-item>
        <!--
        <li class="nav-item dropdown">
          <div ngbDropdown class="d-inline-block">
            <a class="nav-link dropdown-toggle" id="dropdownMenu1" ngbDropdownToggle>Toggle dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </div>
        </li>
        -->
      </ul>
    </div>
  </div>
</nav>